.navbar-header a:hover,
ul.navbar-nav > li > a:hover {
    color: #1895BC!important;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

/* Navbar Home Link */
.navbar-default .navbar-nav>li>a,
a.navbar-brand {
    color: #ffffff!important;
}

a,
a:hover,
a:focus,
a:active,
a.active,
#contact h2,
#portfolio h2,
.btn-outline { 
    color: #2c3e50;
}

hr.star-light:after {
    background-color: #1895BC;
}

header {
    background: #1895BC;
}

header img {
    max-width: 90%!important;
}

div.contacts {
    text-align: center;
}

#portfolio p {
    font-size: 19px;
}

#portfolio h4 {
    margin-top: 2px;
}

.footer-col a, .footer-col a:hover {
    color: #1895BC;
}
#skill-1 {
    opacity: 0.7;
}

#skill-2 {
    opacity: 0.6;
}

#skill-3 {
    opacity: 0.5;
}

#skill-4 {
    opacity: 0.4;
}

#skill-5 {
    opacity: 0.3;
}

#skill-6 {
    opacity: 0.2;
}

#skill-7 {
    opacity: 0.1;
}

#skill-8 {
    font-size: 2.0em;
}

.push-about-content {
    padding-top: 35px;
}

@media(max-width: 768px) {
    #portfolio,
    #about,
    #contact {
        text-align: center;
    }
    .navbar {
        margin-bottom: 0!important;
    }
}

@media(min-width: 768px) {
    header .container {
        padding-top: 150px;
    }

    header .intro-text .name {
        margin-top: -70px;
    }

    .navbar-default .navbar-brand {
        font-size: 2.0em;
    }
    #bs-example-navbar-collapse-1 > ul.nav > li > a {
        font-size: 1.5em;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-default.navbar-shrink .navbar-brand  {
        font-size: 1.5em;
    }
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: #233140;
}

section.success {
    background: #1895BC;
}

/* Contact button hover Color */
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #1895BC;
}

.floating-label-form-group-with-focus label {
    color: #1895BC;
}

.btn-social {
    width: 135px;
    display: inline-block;
}