<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Brian Patino</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="http://blog.venfo.xyz" target="_blank">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive img-thumbnail wow fadeInLeft" data-wow-duration="2s" src="assets/img/profile_cpress.jpg" alt="code example">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="intro-text">
                    <span class="name">Brian Patino</span>
                    <hr class="star-light">
                    <div class="col-sm-12">
                        <span id="skill-1" class="skills">User Experience</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-2" class="skills">Network and Server</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-3" class="skills">Data Modeling</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-4" class="skills">Business Logic</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-5" class="skills">Business Needs</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-6" class="skills">System Administration</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-7" class="skills">Model View Controller</span>
                    </div>
                    <div class="col-sm-12">
                        <span id="skill-8" class="skills">Programmer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown" data-wow-duration="3s">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <!-- Experience Section -->
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-2 col-lg-offset-1">
                <h4>Experience</h4>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <strong>Student Web Developer</strong>
                <br>
                <span>University of Connecticut</span>
            </div>
            <div class="col-lg-3">
                <span>September 2015 - Present</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>Java Developer Summer Intern</strong>
                <br>
                <span>Starwood Hotels &amp; Resorts Worldwide, Inc.</span>
            </div>
            <div class="col-lg-3">
                <span>June 2015 - August 2015</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>Web &amp; Mobile Developer</strong>
                <br>
                <span>WPRV Praise Radio Vision Networks</span>
            </div>
            <div class="col-lg-3">
                <span>July 2014 - January 2015</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>Database Administrator</strong>
                <br>
                <span>Norwalk Community College</span>
            </div>
            <div class="col-lg-3">
                <span>September 2013 - July 2014</span>
            </div>
        </div>
        <hr>
        <!-- Education Section -->
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-2 col-lg-offset-1">
                <h4>Education</h4>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <strong>Bachelor of Science in Computer Science</strong>
                <br>
                <span>University of Connecticut</span>
            </div>
            <div class="col-lg-3">
                <span>September 2014 - May 2018</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>Associate of Science in Computer Science</strong>
                <br>
                <span>Norwalk Community College</span>
            </div>
            <div class="col-lg-3">
                <span>September 2012 - May 2014</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>Independent Study</strong>
                <br>
                <span>edX</span>
            </div>
            <div class="col-lg-3">
                <span></span>
            </div>
        </div>
        <hr>
        <!-- Awards and Certifications-->
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-2 col-lg-offset-1">
                <h4>Awards &amp; Certifications</h4>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <strong>Men of Promise Award</strong>
                <br>
                <span>Norwalk Community College</span>
            </div>
            <div class="col-lg-3">
                <span>April 2014</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>CompTIA A+ Cerfiticate</strong>
                <br>
                <span>CompTIA</span>
            </div>
            <div class="col-lg-3">
                <span>June 2013</span>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown" data-wow-duration="3s">
            <div class="col-lg-4 col-lg-offset-5">
                <strong>CPR/AED Certificat</strong>
                <br>
                <span>American Red Cross</span>
            </div>
            <div class="col-lg-3">
                <span>February 2014</span>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown" data-wow-duration="2s">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 push-about-content">
                <p class="wow fadeInLeft" data-wow-duration="2s">
                    I write a lot of Java, PHP, SQL, JavaScript, Python and HTML code.
                </p>
                <p class="wow fadeInLeft" data-wow-duration="2s">
                    I love learning about new technologies and best practices.
                </p>
                <p class="wow fadeInLeft" data-wow-duration="2s">
                    This cool piece of code is written with <a href="http://emmet.io/" target="_blank">Emmet</a>.
                </p>
            </div>
            <div class="col-lg-4">
                <img class="wow fadeInRight" src="assets/img/coolHTML.gif" alt="emmet code">
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="wow fadeInDown">Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 contacts">
                <ul class="list-inline">
                    <li>
                        <a href="mailto:patinobrian@gmail.com" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope fa-4x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/brianpatino" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin fa-4x"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/amaredues" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github-square fa-4x"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+BrianPatinoCT/posts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus fa-4x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/BrianPatino_" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter fa-4x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Stamford, CT 06902
                        <br>Willimantic CT, 06226</p>
                </div>
                <div class="footer-col col-md-4 pull-right">
                    <h3>Technology</h3>
                    <p>Check out the technologies used to create this page at <a href="https://github.com/amaredues/resume-website">Github</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    For the Community
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
